<html>
<head>
  <title>Time Blocks of Glory</title>
  <link rel="stylesheet" href="./public/css/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="./public/css/app.css" />
</head>
<body class="container" ng-app="App">

  <h1>Time Blocks of Glory</h1>
  <div class="row" ng-controller="AppCtrl" ng-keypress="handleKeypress($event)">

    <div class="col-md-6 tall-column">
      <div style="text-align: center" ng-show="loading">Loading...</div>
      <div ng-repeat="halfHour in halfHours" class="half-hour">
        <span ng-bind="formatTime(halfHour.time)" 
              ng-show="shouldShowTime(halfHour.time)" 
              class="time-label"></span>
        <div class="blocks">
          <div ng-repeat="block in halfHour.blocks" 
               class="block" 
               ng-class="{ 'highlighted-block': isBlockSelected(block) }" 
               ng-style="getBlockStyleInHalfHour(block, halfHour)">
            <div ng-switch="isFirstHalfHourOfBlock(halfHour, block)">
              <div ng-switch-when="true">
                <div class="block-name" 
                     id="{{ getBlockId(block) }}"
                     ng-bind="block.name" 
                     ng-hide="isEditingBlockName(block)"></div>
                <input type="text" ng-model="block.name" ng-show="isEditingBlockName(block)" focus-on="isEditingBlockName(block)" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 tall-column"></div>
  </div>

  <script src="./public/js/vendor/jquery.min.js"></script>
  <script src="./public/js/vendor/angular.min.js"></script>
  <script src="./public/js/vendor/underscore.min.js"></script>
  <script src="./public/js/vendor/firebase.min.js"></script>

  <script src="./public/js/app.js"></script>
  <script src="./public/js/key-service.js"></script>
  <script src="./public/js/storage-service.js"></script>
  <script src="./public/js/focus-on-directive.js"></script>
</body>
</html>
