.border-right {
  border-right: #ddd 1px solid;
}

.half-hour {
  /*border-bottom: #eee 1px solid;*/
  color: #999;
  height: 30px;
  font-size: 11px;
}

.tall-column {
  min-height: 1000px;
}

.time-label {
  float: left;
  margin-right: 10px;
  position: absolute;
}

.blocks > .block {
  background-color: #E8E8E8;
  /*opacity: 0.5;*/
  float: left;
  height: 100%;
  border-right: 2px #eee solid;
  color: rgb(51, 51, 51);
  font-size: 14px;
  padding: 2px;
  padding-left: 10px;
}

.blocks > .block input[type=text] {
  width: 90%;
  color: rgb(51, 51, 51);
}

.blocks > .block .block-name {
  margin-top: 3px;
  margin-left: 3px;
}

.blocks > .block:first-child {
  margin-left: 16px;
}

.blocks > .block:last-child {
  border-right: none;
}

.blocks > .block.highlighted-block {
  background-color: #D5D5D5;
}
