.border-right {
  border-right: #ddd 1px solid;
}

.half-hour {
  color: #999;
  height: 30px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.tall-column {
  min-height: 1000px;
}

.time-label {
  float: left;
  margin-right: 10px;
  position: absolute;
  left: -6px;
  color: #333;
}

.blocks > .block {
  float: left;
  height: 100%;
  color: #333;
  font-size: 14px;
  padding: 2px;
  padding-left: 10px;
  box-shadow: 3px 2px 2px 0 #eee;
  background-color: white;
}

.blocks > .block input[type=text] {
  width: 90%;
  color: #333;
  margin-left: -3px;
  margin-top: -3px;
}

.blocks > .block .block-name {
  margin-top: 2px;
  margin-left: 3px;
}

.blocks > .block:first-child {
  margin-left: 0px;
}

.blocks > .block:last-child {
  border-right: none;
}

.blocks > .block.highlighted-block {
  background-color: #f5f5f5;
}
